@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "All Roles";
}

@if (Model.Any())
{
    <a class="btn btn-primary m-3" style="width:auto;" asp-action="CreateRole" asp-controller="Administration">Add new role</a>

    @foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">Role Id: @role.Id</div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <!-- Assuming you want to pass the role ID for edit and delete actions -->
                <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                <a asp-action="DeleteRole" asp-controller="Administration" asp-route-id="@role.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card m-3">
        <div class="card-header">No roles created yet</div>
        <div class="card-body">
            <h5 class="card-title">Use the button below to create a role</h5>
            <a asp-action="CreateRole" asp-controller="Administration" class="btn btn-primary" style="width:auto;">Create Role</a>
        </div>
    </div>
}
